@page "/"
@attribute [Authorize]
@inject IAccountService AccountService

<PageTitle>Index</PageTitle>


<div class="container pb-5"> @*padding-bottom-5*@
    <div class="row justify-content-between">
        <div class="col-6">
            <h1>&#10240;</h1>
            <h4>Leaderboard</h4>
        </div>

        <div class="col-4">
                <span style="font-size:36pt">96</span>
                <span style="font-size:18pt">&nbsp;points</span>
            <h4 class="text-center">Tipping</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-8 text-center">
            <h2>Ladder</h2>
        </div>
    </div>

</div>

